body {
  font-family: 'Lato', sans-serif; }

h1 {
  text-align: center;
  margin: 3vw auto 1vw auto; }

.order-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .order-cards .order-card {
    background-color: #d8a14f;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 1vw;
    height: 200px;
    font-weight: 100;
    border: 1px solid #000;
    transition: all 0.2s ease-out; }
    .order-cards .order-card:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.5); }
    .order-cards .order-card-img {
      width: 100%;
      height: 60%; }
      .order-cards .order-card-img img {
        object-fit: cover;
        margin: 0;
        height: 100%;
        width: 100%; }
    .order-cards .order-card-info {
      padding: 3px; }
      .order-cards .order-card-info p {
        text-align: right;
        font-weight: 300; }

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e2e2e2;
  height: 90vh;
  width: 50vw;
  z-index: 5;
  transition: all 0.2s; }
  .modal-img {
    height: 50%; }
    .modal-img.img2 {
      background-image: url("../img/ramen2.jpg");
      background-size: cover;
      background-position: center;
      background-color: red; }
    .modal-img.img3 {
      background-image: url("../img/ramen3.jpg");
      background-size: cover;
      background-position: center; }
    .modal-img.img4 {
      background-image: url("../img/ramen4.jpg");
      background-size: cover;
      background-position: center; }
  .modal-customize {
    height: 50%; }
    .modal-customize .topping,
    .modal-customize .quantity {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5% 10%; }
      .modal-customize .topping-item,
      .modal-customize .quantity-item {
        display: flex;
        justify-content: space-between; }
        .modal-customize .topping-item .plus,
        .modal-customize .topping-item .minus,
        .modal-customize .quantity-item .plus,
        .modal-customize .quantity-item .minus {
          cursor: unset; }
      .modal-customize .topping .modal-total,
      .modal-customize .quantity .modal-total {
        display: flex;
        justify-content: space-between;
        background-color: red; }

#dark {
  transition: all 0.6s ease-out; }

.dark.clicked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 2; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  height: 90px;
  width: 100%; }
  header nav {
    justify-content: space-around;
    background-color: #E1B000; }
    header nav ul {
      list-style: none;
      display: flex; }
    header nav li {
      margin: 2em; }
    header nav a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: larger;
      font-family: 'Coda Caption', sans-serif; }
      header nav a:hover {
        color: #fde400; }
