body {
  font-family: "Lato", sans-serif; }

h1 {
  text-align: center;
  margin: 3vw auto 1vw auto; }

.order-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .order-cards .order-card {
    background-color: #d8a14f;
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 1vw;
    height: 200px;
    font-weight: 100;
    border: 1px solid #000; }
    .order-cards .order-card-img {
      width: 100%;
      height: 60%; }
      .order-cards .order-card-img img {
        object-fit: fill;
        margin: 0;
        height: 100%;
        width: 100%; }
    .order-cards .order-card-info {
      position: relative;
      padding: 3px; }
      .order-cards .order-card-info p {
        text-align: right;
        font-weight: 300; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  height: 90px;
  width: 100%; }
  header nav {
    justify-content: space-around;
    background-color: #E1B000; }
    header nav ul {
      list-style: none;
      display: flex; }
    header nav li {
      margin: 2em; }
    header nav a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: larger;
      font-family: 'Coda Caption', sans-serif; }
      header nav a:hover {
        color: #fde400; }
