*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  display: flex;
  height: 90px;
  width: 100%; }
  header nav {
    justify-content: space-around;
    background-color: #E1B000; }
    header nav ul {
      list-style: none;
      display: flex; }
    header nav li {
      margin: 2em; }
    header nav a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: larger;
      font-family: 'Coda Caption', sans-serif; }
      header nav a:hover {
        color: #fde400; }
