body {
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  margin: 3vw auto 1vw auto;
}

.order-cards {
    // position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  & .order-card {
    background-color: rgb(216, 161, 79);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 1vw;
    height: 200px;
    font-weight: 100;
    border: 1px solid #000;
    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 20px 5px rgba(128, 128, 128, 0.5);
    }

    &-img {
      width: 100%;
      height: 60%;
      img {
        object-fit: cover;
        margin: 0;
        height: 100%;
        width: 100%;
      }
    }

    &-info {
      // position: relative;
      padding: 3px;
      & p {
        text-align: right;
        font-weight: 300;
      }
    }
  }
}

.modal {
    display: none;
    // opacity: 0;
    // position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    // top: 0;
    // left: 0;
    transform: translate(-50%, -50%);
    // background-color: rgb(173, 173, 173);
    background-color: rgb(226, 226, 226);
    // background-color: blue;
    // height: 100vh;
    height: 90vh;
    width: 50vw;
    z-index: 5;
    transition: all 0.2s;

    &-img {
        height: 50%;

        // &.img1 {
        //     background-image: url('../img/ramen1.jpg');
        //     background-size:cover;
        //     background-position: center;
        // }
        &.img2 {
            background-image: url('../img/ramen2.jpg');
            background-size:cover;
            background-position: center;
            background-color: red;
        }
        &.img3 {
            background-image: url('../img/ramen3.jpg');
            background-size:cover;
            background-position: center;
        }
        &.img4 {
            background-image: url('../img/ramen4.jpg');
            background-size:cover;
            background-position: center;
        }
    }


    &-customize {
        // background-color: red;
        height: 50%;

        & .topping,
        & .quantity {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 5% 10%;

            &-item {
                display: flex;
                justify-content: space-between;

                & .plus,
                & .minus {
                    cursor: unset;
                }

            }

            & .modal-total {
              display: flex;
              justify-content: space-between;
              background-color: red;
            }
        }

        // & .quantity {
        //   display: flex;
        //   flex-direction: column;
        //   justify-content: space-between;
        // }
    }
}

#dark {
    transition: all 0.6s ease-out;
  }
  .dark.clicked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
  }